body {
  background-color: #1c0e27;
  color: white;
}
#price {
  text-decoration: line-through;
}

.galaxy {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.card-last {
  border-style: dashed;
  border-width: 2px;
  border-color: greenyellow;
}

.card-last h6 {
  align-items: center;
}

.add-cart {
  position: relative;
  left: 1000px;
  right: 0px;
  bottom: 100px;
  background-color: #a5d241;
}

.big-price {
  position: absolute;
  left: 800px;
  bottom: 90px;
}
.navbar {
  position: sticky;
}
